*.0
coverage
font/CalligrapherRegular.json
font/CalligrapherRegular.z
font/Ubuntu-*
internal/files/bin/bin
look
makefont/makefont
open
**/*.out
pdf/*.pdf
pdf.txt
private
*.sublime*
*.swp
**/*.test
.idea/
doc/body.html
doc/body.md
doc/index.html
doc/index.html.ok
coverage.html

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

kube/config/
kube/.kube/
config/id_rsa
debug
.vscode
.vs/
.DS_Store
TODO

# macOS
.DS_Store